body {
    background: #fff url('../images/wrapper.jpg') repeat top left;
    font-family: "source_sans_proregular", Arial, sans-serif;
}

a{
    color: #0072bc;
    text-decoration: none;
    transition: .5s all;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0, 114, 188, 0);
}

a:hover{
    border-bottom: 2px solid rgba(15, 160, 206, 0.39);
}

.btn-group{
    text-align: right;
    padding: 0px;
    padding-right: 0px;
    background-color: #EBEBEB;
}

.btn-group a.btn{
    padding-right: 10px;
    font-size: 23px;
}

h2.title{
    font-size: 1.4em;
    text-transform: uppercase;
    font-family: "source_sans_probold";
    margin-top: 0;
}

/*
//
//    ------------
//    Menu Styling
//    ------------
//
*/
nav ul.sub-menu li:first-child a:hover{
    border-radius: 5px 5px 0px 0px;
}

nav ul.sub-menu li:last-child a:hover{
    border-radius: 0px 0px 5px 5px;
}

nav li{
    position: relative;
}

.nav-bar{
    width: 100%
}
nav li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:180%;
    padding:0px 0px;
    position:absolute;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    top: 5px;
    left: -45px;
    background-color: white;
    border-radius: 5px; 
    text-align: center;
    margin-left: 0px;
}

ul.sub-sub-menu{
    margin: 0 auto;
    margin-top: -37px !important;
    transform: scale(0);
    display: none;
    background-color: white;
    transition: all .5s;
    position: absolute;
    width: 100%;
    margin-left: 174px;
    border: 1px solid #D9D4D4;
    border-radius: 0px 5px 5px 0px;
}

.sub-menu li:hover ul.sub-sub-menu{
    display: block;
    transform: scale(1);
}

.sub-menu div.arrow{
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 7px solid #FBFBFB;
    margin: 0 auto;
    margin-top: -7px;
}

.sub-menu li {
    display:block;
    font-size:16px;
    padding-right: 0px !important;
    width: 100%;
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(136, 161, 211, 0.16);
}

.sub-menu li:last-child{
    border-bottom: none;
}
 
.sub-menu li a {
    padding:5px 5px;
    display:block;
    border-top:none !important;
    font-size: 0.9em;
    color: #BBB2B2 !important;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:rgba(83, 119, 191, 0.69);
    color: white !important;
}

ul.sub-sub-menu a{
    border-radius: 0px !important;
}

/*
    Sub Menu End
*/

.logo {
    float: left;
    margin-left: 10px;
    position: relative;
}

.logo img{
    height: 60px;
}

.branding{
    float: right;
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 30px;
    color: white;
    font-family: 'dejavu_serifbook';
    font-size: 1.5em;
}

.nav-bar{
    padding: 20px;
    background-color: #5377BF;
}

.nav-bar ul {
    list-style: none;
    margin-top: 25px;
    margin-bottom: 0px;
}

.nav-bar ul li {
    display: inline-block;
    padding-right: 20px;
}

.nav-bar ul a {
    text-decoration: none;
    padding-top: 10px;
    color: #D4D4D4;
    border-top: 1px solid #a1a1a1;
    transition: all .3s;
    border-bottom: none;
}

.nav-bar ul a:hover {
    color: white;
    border-top: 1px solid white;
    border-bottom: none;
}

.nav-bar ul a.active {
    color: white;
    border-top: 1px solid white;
}

.nav-bar nav {
    float: right;
}

.wrapper{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
    width: 1024px;
    margin: 0 auto;
    position: relative;
    background: #f8f8f8;
    padding: 0px 0px;
    max-width: 90%;
}

.big-image img{
    width: 100%;
    margin-bottom: -6px;
}

.hero {
    padding: 45px 45px 45px 45px;
    background-color: white;
    border-bottom: 1px solid #f8f8f8;
}

.hero p{
    line-height: 1.7;
    color: rgb(51, 51, 51);
    font-family: source_sans_proregular, Arial, sans-serif;
    font-size: 19.2px;
}

.register-cta{
    padding: 0px; 
    padding-bottom: 30px;
    background-color: #fafafa;
    border-bottom: 1px solid #f8f8f8;
    text-align: center;
    padding-bottom: 0px
}

.register-cta a{
    width: 100%;
    font-size: 25px;
    background-color: #5377BF;
    display: block;
    color: white;
    transition: all .3s;
    border-bottom: 0px;
}

.register-cta a:hover{
    background-color: rgba(83, 119, 191, 0.73);
    border-bottom: 0px;
}

.committees{
    padding: 0px; 
    padding-bottom: 30px;
    background-color: #ecf0f1;
}

.committee-title, .venue-title{
    padding: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: rgba(255, 255, 255, 0.66); */
    border-bottom: 1px solid #DEDEDE;
    border-top: 1px solid #DCDBDB;
}

.venue{
    padding: 0px; 
    padding-bottom: 0px;
    background-color: #fafafa;
    border-bottom: 1px solid #f8f8f8;
}

.venue h2{
    margin-bottom: 0px;
}

.committees .item h2{
    margin: 0 20px;
    font-size: 1.3em;
    border-bottom: 1px solid #494f50;
    padding: 0px 0 0 0;
    position: relative;
}

.committees p, .venue p{
    line-height: 1.7;
    color: rgb(51, 51, 51);
    font-family: source_sans_proregular, Arial, sans-serif;
    min-height: 45px;
    margin-top: 19px;
    font-size: 16px;
}

.committees h2 a{
    display: block;
    padding: 5px 0;
    color: #333;
    text-decoration: none;
    font-size: 21px;
    margin-top: 9px;
    font-weight: normal;
    font-family: 'dejavu_serifbook';
    text-decoration: none;
    border-bottom: none;
}

.committees a:hover{
    border-bottom: none;
}

div.desc:first-child {
    background-color: black;
}

div.desc{
    padding: 0 20px;
    background: url("../images/v-div.png") no-repeat left top;
    min-height: 95px;
}


div.desc p{
    margin-bottom: 15px;
}

p.more{
    margin: 0 auto;
    width: 120px;
}

p.more a{
    text-align: left;
    display: block;
    padding: 5px 10px;
    font-size: 0.9em;
    position: relative;
    background-color: #0072bc;
    -webkit-transition: background-color 0.15s linear;
    transition: background-color 0.15s;
    color: white;
    border-bottom: none;
}

p.more a:hover .icon{
    right: 5px;
}

.counter-header{
    text-align: center;
    background-color: white;
    border-bottom: 1px solid #F1EDED;
    padding: 15px;
    font-size: 18px;
}

.counter-header p{
    margin-bottom: 0px;
    font-weight: bold;
    color: #4B4C4E;
    font-size: 20px;
}

.counter{
    text-align: center;
    padding: 30px;
    padding-top:16px !important;
    padding-bottom: 35px !important;
}

.counter span{
    margin-right: 20px;
}

.items{
    margin-top: 40px;
}

.item{
    margin: 0 0px;
    font-size: 1.3em;
    padding: 0px 0 0 0;
    position: relative;
    width: 25%;
    float: left;
    text-align: center;
}

.footer{
    color: #898989;
    border-top: 1px solid #F1EDED;
    font-size: 0.8em;
    background: #f8f8f8;
    padding: 10px;
}

.footer p{
    margin-bottom: 0px;
}

.directors{
    padding: 0px;
    padding-bottom: 30px;
    background-color: #FBF9F9;
    background-color: #ecf0f1;
    padding-top: 20px;
    border-bottom: 2px solid #FBF9F9;
    border-bottom-style: dotted;
}

.directors-mid{
    background-color: #FBF9F9 !important;
}

.directors .director-title{
    font-size: 1.4em;
    text-transform: uppercase;
    font-family: "source_sans_probold";
    margin-top: 0;
    padding: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: -50px;
}

.directors .item{
    font-size: 1.3em;
    padding: 0px 0 0 0;
    position: relative;
    width: 20%;
    float: left;
    text-align: center;
    background-color: white;
    margin: 40px 0px 0px 4%;
    box-shadow: 0px 0px 4px #AFB9BC;
    transition: all 0.3s;
}

.directors .item:hover{
    box-shadow: 0px 0px 15px #AFB9BC;
}

.directors h2, .directors h3{
    font-size: 0.9em;
    font-family: "source_sans_proregular";
    margin-top: 0;
    margin-bottom: 0px;
}

.directors .item h2{
    font-weight: bold;
}

.directors h3{
    margin-bottom: 5px;
}

.d_img{
    width: 88%;
    margin-top: 11px;
}

.hero-committee{
    text-align: center;
    padding: 45px;
    background-color: white;
}

.hero-committee h1{
    font-size: 2em;
    font-family: "source_sans_probold";
    /* text-transform: uppercase; */
    margin-bottom: 0px;
}
.committee h3{
    font-size: 1.4em;
    font-family: "source_sans_probold";
    margin-top: 0;
    padding: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.66); 
    border-bottom: 1px solid #DEDEDE;
    border-top: 1px solid #DCDBDB;
}

.committee .meta{
    float: left;
    padding: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: white;
    box-shadow: 0px 0px 4px #AFB9BC;
}
.committee .meta img{
    width: 175px;
}

.committee .meta h4{
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
}

.committee .meta p{
    text-align: center;
    margin-bottom: 0px
}

.committee li{
    margin-bottom: 0px;
}
.study{
    float: left;
}
.study-guide{
    float: right;
    width: 200px !important;
}

.study-guide a{
    border-bottom: none;
}

.study-guide img{
    transform: rotate(20deg) !important;
    transition: all .5s;
    border: 8px solid white;
    border-radius: 100px;
}

.study-guide a:hover img{
    transform: rotate(0deg) !important;
}


#particles-js {
  position: absolute;
  top: 36px;
  left: 0px;
  width: 100%;
  height: 200px;
  background-color: #5377BF;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

@media (max-width: 600px) {
    .wrapper{
        max-width: 100%;
    }
    .nav-bar{
        text-align: center;
        margin: 0 auto;
    }
    .logo{
        float: none;
    }
    .logo a{
        text-decoration: none;
    }
    p.branding{
        float: none; 
        margin: 0 auto;
        color: white;
        font-family: 'dejavu_serifbook';
        font-size: 1.5em;
    }
    .directors{
        margin-bottom: -50px;
    }
    .directors .item h2{
        font-weight: 100;
        font-family: "source_sans_proregular";
        font-size: 0.9em;
    }
    .directors .item{
        width: 44% !important;
        margin-bottom: 50px;
    }
    nav {
        float: none !important;
    }
    .item{
        width: 50%;
    }
}

@media (max-width: 300px) {
    .item{
        width: 100%;
    }
}